@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add new product to the list</h1>
    <form>
        <p>
        <div class="input-group">
            <span class="input-group-text">Name of product</span>
            <input type="text" aria-label="Name" class="form-control">
        </div>
        </p>
        <p>
        <div class="input-group">
            <span class="input-group-text">Product price</span>
            <input type="number" aria-label="Price" class="form-control">
        </div>
        </p>
        <p>
            <div class="input-group">
            <span class="input-group-text">Describe of product</span>
            <input type="text" aria-label="Describe" class="form-control">
            </div>
        </p>
        <p>
            <input class="btn btn-primary" type="button" value="Save">
        </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Describe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Computer</td>
                    <td>10</td>
                    <td>Digital Technics</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mouse</td>
                    <td>36</td>
                    <td>Digital Technics</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Keyboard</td>
                    <td>13</td>
                    <td>Digital Technics</td>
                </tr>
            </tbody>
        </table>
</div>
