@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add new product to the list</h1>
    <form>
        <p>
        <div class="input-group">
            <span class="input-group-text">Name of product</span>
            <input type="text" aria-label="Name" class="form-control">
        </div>
        </p>
        <p>
        <div class="input-group">
            <span class="input-group-text">Product price</span>
            <input type="number" aria-label="Price" class="form-control">
        </div>
        </p>
        <p>
            <div class="input-group">
            <span class="input-group-text">Describe of product</span>
            <input type="text" aria-label="Describe" class="form-control">
            </div>
        </p>
        <p>
            <input class="btn btn-primary" type="button" value="Input">
        </p>
        </form>
</div>
